;.makeStyles-component-2{
    margin-left: '12%';
    line-height: 0;
    color: '#FFFFFF';
    text-decoration: 'none';
}
.makeStyles-container-4{
    display: flex;
}
.makeStyles-subURL-6{
    width: 10;
    height: 10;
    margin-left: 4;
    width: 75
}